@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ConsoleUm</h1>
</div>
<div>
    <div class="col-md-4">
        <h2 class="display-4">Welcome</h2>
        <p>
            Console uni is sample app that to demo how it works
        </p>
    </div>

    <div class="col-md-4">
        <h2 class="display-4">Welcome</h2>
        <p>You can builf</p>
        <p><a class="btn btn-default" href="https://learn.microsoft.com/aspnet/core"></a>.</p>
    </div>

    <div class="col-md-4">
        <h2>Download</h2>
        <p>Download link to GitHub</p>
        <p><a class="btn btn-default" href="https://learn.microsoft.com/aspnet/core"></a>.</p>
    </div>
</div>